# Symbols to track
SYMBOLS=AAPL,AMD,MSFT

# Text colors
COLOR_UP=#00FF00
COLOR_DOWN=#FF0000

# Background colors
COLOR_PREMARKET=#FFFF00
COLOR_OPEN=#0000FF
COLOR_AFTER_HOURS=#FFA500
COLOR_CLOSED=#808080